<h1>Merchants</h1>

<div class="container">

<p class="btn_wrapper">
  <a class="btn_action" href="/merchants/new">New merchant</a>
</p>

<table>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Total Spent</th>
    <th scope="col">Maintenance</th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><%= merchant.name %></td>
    <td>£<%= Transaction.total_by_merchant(merchant.id) %></td>
    <td>
      <form action="/merchants/<%= merchant.id %>/delete" method="POST">
        <input class="btn_action" type="submit" value="delete" />
      </form>
      <form action="/merchants/<%= merchant.id %>/update" method="GET">
        <input class="btn_action" type="submit" value="update" />
      </form>
    </td>
  </tr>
  <% end %>
</table>
</div>
