<h1>Create a new Merchant</h1>

<div class="data-form">
<form method="post" action="/merchants">

  <label for="store-name"> Merchant: </label>
  <input
  type="text"
  name="name"
  id="store-name"
  />

  <input class="btn" type="submit" value="Create">

</form>
</div>
