<!DOCTYPE html>
<html>
<head>
  <title>Money Dashboard</title>
  <link rel='stylesheet' href='/style.css'>
  <link rel="icon" href="/images/favicon.ico"/>
</head>
<body>
  <nav>
    <!-- <ul>
      <li>
        <a href="/transactions"> Transactions </a>
      </li>
    </ul> -->
  </nav>
  <%= yield %>
</body>
</html>



<!-- <h1>Hello Saver</h1> -->
