<!DOCTYPE html>
<html>
<head>
  <title>Money Cashboard</title>
  <link rel="stylesheet" href="/style.css?refresh=poop">
  <link rel="icon" href="/images/favicon.ico"/>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/transactions"> Transactions </a>
      </li>
      <li>
        <a href="/merchants"> Merchants </a>
      </li>
      <li>
        <a href="/tags"> Item Types </a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>



<!-- <h1>Hello Saver</h1> -->
