body {
  background: linear-gradient(45deg, #3D9970, #D8DEDA) no-repeat;
  height: 96vh;
  background-size: cover;
  background-position: center;
}

h1 {
  color: #fff;
}

.title {
  color: #993363;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 70%;
}

th {
    border: 1px solid #2D2F2F;
    background-color: #DFDCDB;
    text-align: left;
    padding: 8px;
}
td {
    border: 1px solid #2D2F2F;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f1f1c1;
}

tr:nth-child(odd) {
  background-color: #84DBFA;
}

tfoot td {
  background-color: #EEAD49;
  color: #000;
}

.btn_wrapper {
  margin: 30px 0;
}

.btn_wrapper a {
  font-size: 25px;
  padding: 10px 20px;
  background-color: #CFD8DC;

}

form {
  display: inline;
}
