<h1>Item Types</h1>

<div class="container">

<p class="btn_wrapper">
  <a class="btn_action" href="/tags/new">New Item Type</a>
</p>

<table>
  <tr>
    <th scope="col">Type</th>
    <th scope="col">Spend per type</th>
    <th scope="col">Maintenance</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%= tag.item_type %></td>
    <td>£<%= Transaction.total_by_tag_type(tag.id) %></td>
    <td>
      <form action="/tags/<%= tag.id %>/delete" method="POST">
        <input class="btn_action" type="submit" value="delete" />
      </form>
      <form action="/tags/<%= tag.id %>/update" method="GET">
        <input class="btn_action" type="submit" value="update" />
      </form>
    </td>
  </tr>
  <% end %>
</table>
</div>
