<h1>Create a new Item</h1>

<div class="data-form">
<form method="post" action="/tags">

  <label for="type-name"> Item Type: </label>
  <input
  type="text"
  name="item_type"
  id="type-name"
  />

  <input class="btn" type="submit" value="Create">

</form>
</div>
