<h1>Update an Item Type</h1>

<div class="data-form">
<form method="post" action="/tags/<%= @tags.id %>/update">

  <label for="item-type"> Item Type: </label>
  <input
  type="text"
  name="item_type"
  value="<%= @tags.item_type %>"
  id="item_type"
  />

<input class="btn" type="submit" value="Apply">

</form>
</div>
