<h1>Transactions</h1>

<table>
  <thead>
  <tr>
    <td>Merchant ID</td>
    <td>Amount Spent</td>
  </tr>
</thead>
<tbody>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.merchant_id %></td>
    <td> £<%= transaction.amount %></td>
  </tr>
  <% end %>
</tbody>
  <tfoot>
    <td>Total Spent = £<%=@total%></td>
    <td>Merchant Name is <%@merchant%></td>
  </tfoot>
</table>
