<h1>Transactions</h1>

<table>
  <thead>
  <tr>
    <td>Merchant Name</td>
    <td>Amount Spent</td>

  </tr>
</thead>
<tbody>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.merchant.name %></td>
    <td> £<%= transaction.amount %></td>
  </tr>
  <% end %>
</tbody>
  <tfoot>
    <td>Total Spent = £<%=@total%></td>
  </tfoot>
</table>
