<form method="post" action="/transactions">

  <label for="item-cost"> Amount Spent: </label>
  <input
  type="text"
  name="amount"
  id="item-cost"
  />

  <label for="merchant-id"> Merchant </label>
  <select id="merchant-id" name="merchant_id">
    <% @merchants.each do |merchant| %>
    <option value="<%= merchant.id %>"> <%= merchant.name %></option>
    <%end%>
  </select>

  <label for="tag-id"> Type </label>
  <select id="tag-id" name="tag_id">
    <% @tags.each do |tag| %>
    <option value="<%= tag.id %>"> <%= tag.item_type %></option>
    <%end%>
  </select>

  <label for="purchased-item"> Product: </label>
  <input
  type="text"
  name="item_name"
  id="purchased-item"
  />

  <input type="submit" value="Create">

</form>
