<form method="post" action="/transactions/<%= @transactions.id %>/update">

  <label for="merchant-amount"> Amount Spent: </label>
  <input
  type="text"
  name="amount"
  id="merchant-amount"
  />

  <label for="merchant-id"> Merchant </label>
  <select id="merchant-id" name="merchant_id">
    <% @merchants.each do |merchant| %>
      <option value="<%= merchant.id %>"> <%= merchant.name %></option>
    <%end%>
  </select>

<label for="tag-id"> Type </label>
  <select id="tag-id" name="tag_id">
    <option value="1"> Food </option>
    <option value="2"> Clothing </option>
  </select>

  <label for="purchased-item"> Item: </label>
  <input
  type="text"
  name="tag"
  id="purchased-item"
  />

  <input type="submit" value="Update">

</form>
